<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:haf="https://github.com/haf/NLog.RabbitMQ/raw/master/src/schemas/NLog.RabbitMQ.xsd"
      internalLogFile="logs\nlog-error-log.csv" internalLogLevel="Warn"
      >
  <!--Default Targets and Rules-->
  <targets>
    <default-wrapper xsi:type="AsyncWrapper" overflowAction="Grow"/>
    
    <target xsi:type="Null" name="NullLogger" formatMessage="false"  />
            
    <target name="UDP1" xsi:type="NLogViewer" address="udp://127.0.0.1:5557" connectionCacheSize="100" keepConnection="true"
           includeNdc="true"
           includeNLogData="true"
           includeMdc="true"
           includeCallSite="true"
           includeSourceInfo="true">
      <parameter name="Exceptions" layout = "${exception:format=type,message,StackTrace:maxInnerExceptionLevel=10:innerFormat=type,message,StackTrace}" />
      <parameter name="ProcessName" layout= "${processname}" />
      <parameter name="ProcessID" layout="${processid}" />
      <parameter name="ThreadName" layout="${threadname}" />
      <parameter name="Class" layout ="${callsite:className=true:methodName=false:fileName=false:includeSourcePath=false}" />
      <parameter name="Method" layout ="${callsite:className=false:methodName=true:fileName=false:includeSourcePath=false}" />
      <parameter name="File" layout ="${callsite:className=false:methodName=false:fileName=true:includeSourcePath=true}" />
    </target>

    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false"
            layout="(${threadid}) ${gdc:item=WorkflowState}${mdlc:item=WorkflowActivity}: ${message}" >
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="DarkGray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
    </target>
   
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="coloredConsole" />
    <logger name="*" minlevel="Trace" writeTo="UDP1" />

  </rules>
</nlog>